DB_HOST=localhost
DB_PORT=3306
DB_NAME=ecommerce
DB_USER=root
DB_PASSWORD=
LOCAL_DB_HOST=localhost
LOCAL_DB_NAME=ecommerce
LOCAL_DB_USER=root
LOCAL_DB_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_LOGIN_REDIRECT_URI=
GOOGLE_REGISTER_REDIRECT_URI=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
MAISHAPAY_PUBLIC_KEY=
MAISHAPAY_SECRET_KEY=
MAISHAPAY_GATEWAY_MODE=0
MEILISEARCH_URL=
MEILISEARCH_MASTER_KEY=